body {
    background-color:black;
    font-family:sans-serif;
    color: white  
}
h1 {
    color:black;
    font-family:sans-serif;
    font-size:20px;
    margin:60px;
}
.maindiv {
    background-color:white;
    color:black;
    width: 400px;
    padding:30px;
    border-radius:25px;
    align:center;
	margin:auto;
    margin-top: 134px;
}
#calcTable {
	align:center;
	margin:25px
}
.calcfoot {
	font-size:14px;
    margin :25px;
}
